.adminLoginWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.loginForm {
  background-color: #F9E7F8;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 90%;
  max-height: 450px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.loginForm h2 {
  text-align: center;
  color: #262226;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.inputGroup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0 10%;
}

.inputGroup label {
  display: block;
  margin-bottom: 0.5rem;
  color: #4B434B;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 0.5rem;
}

.inputGroup input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #D1CCD1;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 1rem;
}

.inputGroup input::placeholder {
  color: #C3BCC3;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.inputGroup input:focus {
  outline: none;
  border: 1px solid #91268F;
  box-shadow: 0 0 5px rgba(145, 38, 143, 0.5);
}

.error {
  color: red;
  font-size: 0.875rem;
  /* margin-top: 0.25rem; */
  margin-bottom: 0.25rem;
}

.adminButton {
  margin: 1rem 0 0 10%;
  width: 80%;
  padding: 0.75rem;
  background-color: #91268F;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.adminButton:hover {
  filter: brightness(1.4);
}

.adminButton:active {
  filter: brightness(0.8);
}

.adminButton:focus {
  outline: none;
}

.forget_password {
  width: 80%;
  margin: 0 auto;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  color: #91268F;
  cursor: pointer;
}

.forget_password:hover {
  width: 80%;
  margin: 0 auto;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  transition: 0.3s;
  color: #da24d6;
  cursor: pointer;
}

@media only screen and (min-width: 320px) {
  .loginForm {
    max-height: 350px;
  }

  .loginForm h2 {
    font-size: 1.5rem;
  }

  .inputGroup {
    padding: 0 0;
  }

  .inputGroup label {
    font-size: 0.75rem;
  }

  .inputGroup input {
    font-size: 0.875rem;
  }

  .adminButton {
    font-size: 0.875rem;
    width: 100%;
    margin: 0.5rem 0 0 0;
  }

  .error {
    font-size: 0.5rem;
  }
}

@media only screen and (min-width: 425px) {
  .loginForm {
    max-height: 450px;
  }

  .loginForm h2 {
    font-size: 1.75rem;
  }

  .inputGroup {
    padding: 0 5%;
  }

  .inputGroup label {
    font-size: 0.875rem;
  }

  .inputGroup input {
    font-size: 1rem;
  }

  .adminButton {
    width: 90%;
    margin: 1rem 0 0 5%;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 640px) {
  .loginForm h2 {
    font-size: 2rem;
  }

  .inputGroup {
    padding: 0 10%;
  }

  .error {
    font-size: 0.875rem;
  }

  .adminButton {
    width: 80%;
    margin: 1rem 0 0 10%;
  }
}