.toggleWrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 20px;
  background-color: #fff;
}

.buttons {
  position: relative;
  display: flex;
  /* margin: 20px 0 0 0; */
  background-color: #f4f4f4;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buttons .indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: #800080; /* Purple */
  border-radius: 50px;
  transition: width 0.3s ease, left 0.3s ease, background-color 0.3s ease;
  z-index: 0;
}

.buttons button {
  position: relative;
  z-index: 1;
  flex: 1;
  padding: 15px 40px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: #4B434B;
  transition: color 0.3s ease;
  line-height: 120%;
}

.buttons button.active {
  color: #fff;
}

.buttons button:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.buttons button:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

@media only screen and (min-width: 320px) {
  .buttons button {
    padding: 10px 20px;
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 640px) {
  .buttons button {
    padding: 12.5px 30px;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .buttons button {
    padding: 15px 40px;
  }
}