/* NavBarLaptop.css */
.navBarWrapper {
  width: 90%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 24px;
  box-shadow: 0px 16px 32px 0px rgba(57, 15, 56, 0.04), 0px 2px 4px 0px rgba(57, 15, 56, 0.06);
  border-radius: 16px;
  position: fixed;
  top: 3%;
  left: 5%;
  z-index: 1000;
}

.navList {
  display: flex;
  width: fit-content;
  list-style: none;
  gap: 31px;
  margin: 0;
  padding: 0;
}

.navList li {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.navList li:hover {
  transform: scale(1.1);
}

.navLogo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLogo img {
  width: 95px;
  height: 50px;
}

@media screen and (min-width: 640px) {
  .navBarWrapper {
    width: 95%;
    height: 8%;
    left: 2.5%;
    padding: 10px 15px;
  }

  .navList {
    gap: 15px;
  }

  .navLogo img {
    width: 75px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .navBarWrapper {
    width: 90%;
    height: 8%;
    left: 5%;
    padding: 10px 24px;
  }

  .navList {
    gap: 20px;
  }

  .navLogo img {
    width: 95px;
    height: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .navList {
    gap: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .navList {
    gap: 31px;
  }
}