.serviceCard {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 23%; /* Initial width for smallest screens */
  height: calc(23vw - 10px); /* Adjusted height for card to include space for the service name */
  cursor: pointer;
  transition: border-color 0.3s;
  margin-bottom: 2%; /* Initial margin */
}

.serviceCard img,
.additionalInfo {
  width: 100%;
  height: calc(23vw - 40px); /* Adjusted height for image and additional info */
  object-fit: cover;
  transition: border 0.3s;
  border-radius: 20px;
}

.serviceCard.selected .image {
  border: 2px solid limegreen;
}

.button {
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: transparent;
  color: #591758;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button img {
  width: 30px;
  height: 30px;
}

.serviceInfo {
  background-color: transparent;
  color: #262226;
  padding: 10px 15px;
  border-radius: 50px;
}

.additionalInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: #F9E7F8;
}

.serviceInfo p {
  margin: 0;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.serviceInfo p:last-child {
  color: limegreen;
}

.additionalInfo p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

/* Media Queries */
@media only screen and (min-width: 320px) {
  .serviceCard {
    width: 45%;
    height: calc(46vw - 10px); /* Adjust height based on card width */
    margin-bottom: 5%;
  }
  .serviceCard img,
  .additionalInfo {
    height: calc(45vw - 40px); /* Adjust height for image and additional info */
  }
  .button {
    width: 30px;
    height: 30px;
  }
  .button img {
    width: 15px;
    height: 15px;
  }
  .serviceInfo p {
    font-size: 0.625rem;
  }
  .additionalInfo p {
    font-size: 0.625rem;
  }
}

@media only screen and (min-width: 425px) {
  .serviceInfo p {
    font-size: 0.75rem;
  }
  .additionalInfo p {
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 640px) {
  .serviceCard {
    width: 30%;
    height: calc(33vw - 10px); /* Adjust height based on card width */
    margin-bottom: 3.33%;
  }
  .serviceCard img,
  .additionalInfo {
    height: calc(30vw - 40px); /* Adjust height for image and additional info */
  }
  .button {
    width: 40px;
    height: 40px;
  }
  .button img {
    width: 25px;
    height: 25px;
  }
  .serviceInfo p {
    font-size: 0.9rem;
  }
  .additionalInfo p {
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 1024px) {
  .serviceCard {
    width: 45%;
    height: calc(28vw - 10px); /* Adjust height based on card width */
    margin-bottom: 2%;
  }
  .serviceCard img,
  .additionalInfo {
    height: calc(25vw - 40px); /* Adjust height for image and additional info */
  }
  .button {
    width: 50px;
    height: 50px;
  }
  .button img {
    width: 30px;
    height: 30px;
  }
  .serviceInfo p {
    font-size: 1rem;
  }
  .additionalInfo p {
    font-size: 0.875rem;
  }
}

@media only screen and (min-width: 1440px) {
  .serviceCard {
    width: 30%;
    height: calc(19vw - 10px); /* Adjust height based on card width */
    margin-bottom: 1.5%;
  }
  .serviceCard img,
  .additionalInfo {
    height: calc(18vw - 50px); /* Adjust height for image and additional info */
  }
  .button {
    width: 50px;
    height: 50px;
  }
  .button img {
    width: 30px;
    height: 30px;
  }
  .serviceInfo p {
    font-size: 1.1rem;
  }
  .additionalInfo p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1920px) {
  .serviceCard {
    width: 23%;
    height: calc(17vw - 10px); /* Adjust height based on card width */
    margin-bottom: 1%;
  }
  .serviceCard img,
  .additionalInfo {
    height: calc(16vw - 50px); /* Adjust height for image and additional info */
  }
  .button {
    width: 50px;
    height: 50px;
  }
  .button img {
    width: 30px;
    height: 30px;
  }
  .serviceInfo p {
    font-size: 1.25rem;
  }
  .additionalInfo p {
    font-size: 1.125rem;
  }
}